*{
	margin: 0;
	padding: 0;
	
}
::selection {
    background: #b81e0d;
    color: white;
}
.row{
	margin: 0;
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Montserrat','Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}

header{
	/*background: white;*/
	position: relative;
	display: inline-block;
	z-index: 9999;
    width: 100%;
    padding: 2em;
    background: #eee;
}
button {
    padding: 3px 10px;
    background: #D7423C;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px black;
    transition: all .5s ease-in;
}

button:hover {
    color: #D7423C;
    position: relative;
    border: 1px solid #D7423C;
    background: white;
}
.pikpak .container{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.pikpak .wrapper_container{
	margin: 0;
    padding: 0;
}
.home_banner_img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-table;
  top: 0;
}
.home_banner_img img{
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-table;
}
.color-1{
  position: absolute;
  background: #eee;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.color-2{
  position: absolute;
  background: #b81e0d;
  width: 150%;
  height: 175%;
  transform: skew(113.3deg);
}
.color-3{
    position: absolute;
    background: #b81e0d;
    width: 35%;
    height: 211%;
    transform: skew(-101deg);
    right: -2%;
    top: -100%;
}
.logo{
  display: inline-block;
    width: 100%;
    position: absolute;
    z-index: 7;
}
.logo img{
  position: absolute;
    float: right;
    right: 40px;
    top: -8px;
}
.ani_hidden{
     opacity:0;
}
.ani_visible{
     opacity:1;
}
/*body starts here*/
.pikpak .home_banner{/*
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-attachment: fixed;*/
	margin: 0;
  position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 5em;
}
.pikpak .home_banner> div{
	margin: 2em 0 3em;
}
hr.style-one {
    padding: 0;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333;
    text-align: center;
    font-family: Lobster;
}

hr.style-one:after {
    content: "A Smart way to build your Career";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 1.5em;
    padding: 7px 1.75em;
    background: #fff  no-repeat scroll center;
    background-size: 90px 90px;
    font-size: 24px;
    text-transform: uppercase;
}
.pikup{
	background: rgba(0,0,0,.5);
    padding: 5em 1em 4em 1em;
    color: white;
    /*margin: 10px !important;*/
    box-shadow: 2px 2px 2px;
    width: 99%;
	min-height: 390px;
}
.pikup .title {
	color: transparent;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #82d344;
    background: -moz-linear-gradient(top, #eee 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#b81e0d));
    background: -webkit-linear-gradient(top, #eee 0%,#b81e0d 100%);
    background: -o-linear-gradient(top, #eee 0%,#b81e0d 100%);
    background: -ms-linear-gradient(top, #eee 0%,#b81e0d 100%);
    background: linear-gradient(to bottom, #eee 0%,#b81e0d 100%);
    display: block;
    position: absolute;
    top: 20px;
    right: 9px;
    height: 42px;
    padding: 0 10px 0 27px;
    line-height: 32px;
    font-size: 12px;
    text-decoration: none;
    box-shadow: 2px 2px 2px;
}
 .pikup .title_left{
  color: transparent;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #82d344;
    background: -moz-linear-gradient(top, #b81e0d 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b81e0d), color-stop(100%,#eee));
    background: -webkit-linear-gradient(top, #b81e0d 0%,#eee 100%);
    background: -o-linear-gradient(top, #b81e0d 0%,#eee 100%);
    background: -ms-linear-gradient(top, #b81e0d 0%,#eee 100%);
    background: linear-gradient(to bottom, #b81e0d 0%,#eee 100%);
    display: block;
    position: absolute;
    top: 20px;
    left: 6px;
    height: 42px;
    padding: 0 27px 0 10px;
    line-height: 32px;
    font-size: 12px;
    text-decoration: none;
    box-shadow: 2px 2px 2px;
}
.pikup .title:before{
	width: 8px;
    height: 32px;
    top: 0;
    left: -8px;
    /*background: url(../img/badge.png) no-repeat;*/
    background-position: 0 0;
    display: block;
    position: absolute;
    content: '';
}
.arrow-left{
    width: 0; 
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 20px solid #777;
    position: absolute;
    right: 0;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;  
  border-left: 20px solid #777;
  position: absolute;
  left: 0;
}
.pikup .title_left:after{
  width: 0;
    height: 0;
    bottom: -7px;
    left: 0;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #b81e0d;
    display: block;
    position: absolute;
    content: '';
}

.pikup .title:after{
	width: 0;
    height: 0;
    bottom: -7px;
    right: 0;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #b81e0d;
    display: block;
    position: absolute;
    content: '';
}
.pikup .title h1 ,.pikup .title_left h1{
	margin: 7px 0;
    font-size: 27px;
    color: white;
    font-family: Lobster;
}
/*radio button*/
 input[type="radio"] + label{
  /*padding-left: 1em;*/
  color: white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1em;
}

input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}
input[type="radio"]:hover, input[type="radio"]:focus, input[type="radio"]:hover + label, input[type="radio"]:focus + label {
  border-color: white;
  color: white;
}
input[type="radio"]:checked + label {
  color: white;
}

input[type="radio"] + label::before {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlY2YwZjEiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(#ecf0f1 0em, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 0) 5em);
  background-image: -webkit-radial-gradient(#ecf0f1 0em, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 0) 5em);
  background-image: radial-gradient(#ecf0f1 0em, rgba(0, 0, 0, 0) 0em, rgba(0, 0, 0, 0) 5em);
  content: '';
  width: 1.5em;
  height: 1.6em;
  margin-right: 1em;
  position: relative;
  top: .4em;
  display: inline-block;
  background-color: transparent;
  border-radius: 2em;
  border: 3px solid white;
}

input[type="radio"]:checked + label::before {
  border-color: white;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMC41JSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(#b81e0d, #b81e0d 0.3em, rgba(0, 0, 0, 0) 0.4em);
  background-image: -webkit-radial-gradient(#b81e0d, #b81e0d 0.3em, rgba(0, 0, 0, 0) 0.4em);
  background-image: radial-gradient(#b81e0d, #b81e0d 0.3em, rgba(0, 0, 0, 0) 0.4em);
}

#form-field-1 span {
  display: block;
  margin-bottom: 2em;
}

/*Datepicker*/
.ui-datepicker .ui-datepicker-header{
  background: #b81e0d !important;
    color: white !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
      color: #b81e0d !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  background: #b81e0d !important;
    color: white !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  background: #b81e0d !important;
    color: white !important;
}
/*switch toggle starts here*/
.switch{
  display: inline-table;
  width: 100%;
  padding: 10px 0 0;
}
.switch p{
  display: inline-block;
}
.switch label{
  display: inline-block;
    float: right;
    margin-right: 20%;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 22px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #D7423C;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 18px;
}
/*switch toggle Ends here*/
/*Datepicker*/
.pikpak .datepick{
	padding: 2em;
  /*width: 28%;*/
}
.hasDatepicker{
	width: 100%;
    padding: 5px 5px 5px 15px;	
    color: #666;
    font-weight: 700;
}
.book_details > span >input{
    width: 100%;
    padding: 5px 12px;
    margin: 10px 0;
    color: #666;
    font-weight: 700;
}
.pikpak .row{
  margin: 0px;
}
/*Search button*/
.pikpak_search{
      position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 190px;
    height: 45px;
}
.pikpak_search button{
  padding: 8px 0 10px;
    width: 100%;
    border: none;
    background-color: white;
    color: #b81e0d;
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    font-family: monospace;
}

/*Why pikpack*/
.y_pikpak{
  position: relative;
    display: inline-table;
    text-align: center;
    color: white;
    width: 100%;
    padding-bottom: 2em;
}
.y_pikpak h1{
  color: #b81e0d;
  font-family: Lobster;
}
.box-sec .img{

}
.box-sec .img span{
  background-color: #F5F5F5;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    /* margin-top: -61px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
}
.box-sec .img i{
  color: #D7423C;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Pe-icon-7-stroke';
}
.box-sec .text{
  border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 3em 25px 10px; 
    text-align: right;
    display: block;
    margin-top: 60px;
    background-color: #FFFFFF;
}
.box-sec .text h3{
  text-align: center;
  color: black;
  font-size: 18px;
}
.box-sec .text p{
  margin: 0;
    color: #717171;
    text-align: justify;
    padding: 10px;
    font-size: 12px;
}
/*How it works*/
.h_works{
  position: relative;
    display: inline-table;
    text-align: center;
    color: white;
    width: 100%;
    padding-bottom: 2em;
}
.h_works h1{
  color: #b81e0d;
  font-family: Lobster;
}
.h_works .flow span{
  width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    background: #D7423C;
    border: 2px solid #D7423C;
}
.h_works .box-sec .text{
  box-shadow: none;
}
.h_works .box-sec .img span{
  width: 75px;
  height: 75px;
}
.h_works .box-sec .img span:before{
  content: "";
  width: 165%;
  height: 2px;
  background: #D7423C;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -165%;
}
.h_works .box-sec:nth-child(1) .img span:before{
  content: "";
  background: transparent;
}
.h_works .box-sec .img span:after{
  content: "";
  width: 165%;
  height: 2px;
  background: #D7423C;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -165%;
}
.h_works .box-sec:nth-child(4) .img span:after{
  content: "";
  background: transparent;
}
.h_works .box-sec .img i{
    background: #D7423C;
    border-radius: 50%;
    color: #eee;
}
.h_works .box-sec .text h3{
  color: #D7423C;
}

/*search popup starts here*/

/*search popup ends here*/

/*popup section styles*/
/*.popup__heading*/

/*footer starts here*/
footer {
  position: relative;
  width: 100%;
    background-image: url(../images/banner.jpg);
    background-position: 0 0;
	background-repeat: no-repeat;
    color: white;
    text-align: left;
    display: table !important;
    width: 100%;
    padding: 0;
    font-family: Montserrat;
    overflow: hidden;
}
footer section{
  background: rgba(215,66,60,0.8);
  padding: 0 !important;
}
footer section aside{
  /*background: rgba(0,0,0,0.7);*/
}
footer section .footer_sec{
  /*width: 1200px;*/
    margin: auto;
    position: relative;
    padding: 2em;
    line-height: 2;
}
.footer_sec > div{
  text-align: left !important;
  font-size: small;
}
.footer_sec > div h3{
  font-size: 22px;
  font-family: Lobster;
}
/*.footer_sec button{
  padding: 3px 10px;
    background: #eee;
    border: none;
    border-radius: 5px;
    color: #D7423C;
    box-shadow: 2px 2px black;
    transition: all .5s ease-in;
}
.footer_sec button:hover > span{
  color: white;
  position: relative;
}
.footer_sec button:before{
  content: "";
    background: #D7423C;
    color: white;
    width: 0px;
    position: absolute;
    height: 32px;
    border-radius: 5px;
    margin-top: -3px;
    left: 15px;
    padding-top: 3px;
   transition: all .5s ease-in;
}
.modal-footer button:before{
    right: 15px;
    left: auto;
}
.modal-header button:before{
  content: "";
    background: transparent;
}*/
/*.footer_sec  .modal-header button:hover:before {
  content: "";
    background: transparent;
}
.footer_sec button:hover:before {
  content: "";
    background: #D7423C;
    color: white;
    width: 66px;
    position: absolute;
    height: 32px;
    border-radius: 5px;
    margin-top: -3px;
    padding-top: 3px;
    transition: all .5s ease-in;
}
*/
.footer_sec > div > span{
  border: none;
    padding: 0;
    margin-top: 0em;
    width: auto;
}
.contct_link{
  margin-left: 10px; 
  color: white;
  text-decoration: underline;
}
.contct_link:hover{
  color: white;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.9em 0.8em ;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  /*font-size: 70.25%;*/
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: .6em 0;
  width: 100%;
  font-size: 14px;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}
.bgcolor-5{
  background-color: white;
}

.input__field--yoko {
  z-index: 10;
  width: 100%;
  background: transparent;
  color: #f5f5f5;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 15px;
    padding: .9em 0.8em 0.7em;
}

.input__label--yoko {
  position: relative;
  width: 100%;
  color: #D7423C;
  text-align: left;
}

.input__label--yoko::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 4em;
  background: #D7423C;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--yoko::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background: #D7423C;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/*.input__label-content--yoko {
  padding: 0.75em 0;
}*/

.input__field--yoko:focus,
.input--filled .input__field--yoko {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
  pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}
.input--minoru{
  margin: .1em 1em;
}
/*madoka*/
.input--madoka {
  margin: 1.1em 0;
}

.input__field--madoka {
  width: 100%;
  background: transparent;
  color: white;
}

.input__label--madoka {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  cursor: text;
}

.input__label-content--madoka {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.graphic--madoka {
  -webkit-transform: scale3d(1, -1, 1);
  transform: scale3d(1, -1, 1);
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
  pointer-events: none;

  stroke: white;
  stroke-width: 8px;
  stroke-dasharray: 962;
  stroke-dashoffset: 558;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
  cursor: default;
  pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka,
.input--filled .graphic--madoka {
  stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka,
.input--filled .input__label-content--madoka {
  -webkit-transform: scale3d(0.81, 0, 0) translate3d(0, 3.5em, 0);
  transform: scale3d(0.81, 0, 0) translate3d(0, 3.5em, 0);
}
/*@media (max-width: 1200px){
  body{
    width: 1200px;
      position: relative;
  }
}*/
.footer_sn{
  position: absolute;
    right: 12px;
    top: 45px;
}
.footer_sn ul li{
  display: inline-block;
}
.icoFacebook i{
  color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 7.5px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoFacebook i:hover{
  background: #3B5997;
  color: white;
  border-color: #3B5997;
  transform: rotate(360deg); 
  transition: all 1s ease-in;
}
.icoyoutube i{
  color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoyoutube i:hover{
  background: #DE332C;
  color: white;
  border-color: #DE332C;
  transform: rotate(360deg); 
  transition: all 1s ease-in;
}
.icoGoogle i{
  color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoGoogle i:hover{
  background: #D13E2C;
  color: white;
  border-color: #D13E2C;
  transform: rotate(360deg); 
  transition: all 1s ease-in;
}
.icoLinkedin i{
  color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoLinkedin i:hover{
  background: #006DC0;
  color: white;
  border-color: #006DC0;
  transform: rotate(360deg); 
  transition: all 1s ease-in;
}
.social_icons{
  position: absolute;
  display: inline-block;
  right: 0;
  color: #999;
  padding: 10px 25px 10px 35px;
}
.social_icons span{
  font-size: 12px;
}
.social_icons ul{
  width: 100%;
  text-align: center;
  padding-top: 10px; 
}
.social_icons ul li{
  display: inline-block;
}
.social_icons ul li img{
  padding: 5px;
  width: 30px;
}
/*footer ends here*/


/*Category Section*/
.pikpak_cato{
  text-align: center;
}
.pikpak_cato div{
  display: inline-block;
  margin: 5px;
}
.pikpak_cato input{
  
}
.pikpak_cato label{
  color: #666 !important;
}
.pikpak_cato label:before{
  border-color: #666 !important;
}
.vehicle_cato img{
  width: 75px;
  margin: 5px;
}
.close_btn{
  position: absolute;
  top: -2em;
  right: -2em;
}
.close_btn:hover{
  position: absolute;
}
.srch_move{
  margin: 10px;
}

.logo_ir{
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	padding-left: 10px;
    height: 80px;
    top: 4px;
    position: absolute;
	
}
.logo_ir_small{
	height: 42px;
    left: 10px;
    position: absolute;
    top: 4px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a.menu_hover:hover{
	color: #b81e25 !important;
	text-decoration: none !important;
}

a.menu_hover{
	display: inline-block;
	position: relative;
	padding-bottom: 10px !important;
	margin: 0 5px;
	color: #666;
	text-decoration: none !Important;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	padding-top: 8px;
	transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
}

.menu_hover:hover::before {
    width: 100%;
	position: relative;
    background: #b81e25;
    transition: width .5s ease;
}
.menu_hover::before {
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 25px;
    height: 1.5px;
    width: 0;
    transition: width 0.5s ease, background .5s ease;
}

.menu_hover::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background: #b81e25;
    transition: width .5s ease;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.container_carousel{
	width: 240px !important;
}

.carousel-caption {
    right: 20% !important;
    left: 20% !important;
    color: #b81e25 !important;
    bottom: 0 !important;
    padding-bottom: 0px !important;
    font-family: cursive !important;
}